BOT_TOKEN=8608891651:AAH4wUt-D7QPhyZEA2AJDSHobFL7S_7i1ZQ
CLAUDE_API_KEY=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
WP_URL=https://svoy-elektrik.od.ua/wp-admin
WP_USER=paul.liedle@gmail.com
WP_APP_PASSWORD=mKjgvo*^kwf8)G42C4Gby36^
